<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KyutechAmateurSatelliteOperationByUHF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="BIRDS4_Operation_Software.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <KyutechAmateurSatelliteOperationByUHF.Properties.Settings>
            <setting name="tlePath" serializeAs="String">
                <value />
            </setting>
            <setting name="freqPath" serializeAs="String">
                <value />
            </setting>
            <setting name="latitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="longitude" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CIVaddress" serializeAs="String">
                <value>124</value>
            </setting>
            <setting name="azHome" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="elHome" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="savingPath" serializeAs="String">
                <value>./</value>
            </setting>
            <setting name="rotatorModel" serializeAs="String">
                <value>0</value>
            </setting>
        </KyutechAmateurSatelliteOperationByUHF.Properties.Settings>
        <BIRDS4_Operation_Software.Properties.Settings>
            <setting name="MainLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="CommandListLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </BIRDS4_Operation_Software.Properties.Settings>
    </userSettings>
</configuration>
